@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}



*{
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}

html,body{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #f5f5dc; */
  /* background-color: #FFEBCD; */
  background-color: #F5F5DC;
  color: black;
  
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}